BUNDLE_LOADER = $(TEST_HOST)
CODE_SIGN_STYLE = Automatic
DEAD_CODE_STRIPPING = YES
DEVELOPMENT_TEAM =
GENERATE_INFOPLIST_FILE = YES
MACOSX_DEPLOYMENT_TARGET = 26.1
STRING_CATALOG_GENERATE_SYMBOLS = NO
SWIFT_APPROACHABLE_CONCURRENCY = YES
SWIFT_EMIT_LOC_STRINGS = NO
SWIFT_UPCOMING_FEATURE_MEMBER_IMPORT_VISIBILITY = YES
SWIFT_VERSION = 6.0
